body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'Roboto', Arial, sans-serif;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    width: 300px;
    background: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    padding-top: 140px;
}

.sidebar.open {
    transform: translateX(0);
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.main-content.shifted {
    margin-left: 300px;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    margin-top: 70px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.input-info {
    font-size: 0.9em;
    color: #6c757d;
}

.btn {
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007bff;
    color: white;
}

details summary {
    cursor: pointer;
}

details ul {
    padding-left: 20px;
    list-style-type: none;
}

details ul li {
    display: block;
}

details[open] ul li {
    display: block;
}

#aboutContent {
    text-align: left;
}

#headerContent,
#aboutContent,
#napkinMath {
    scroll-margin-top: 80px; /* Adjust the value to match the height of the navbar */
}

.fixed-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.col-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;
}
.clean-text {
    color: #333333;
    text-align: center;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
}

.main-content {
    padding-top: 80px; /* Adjust this to create enough space below the fixed navbar */
}
